@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@1,200&display=swap');

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	font-family: 'Grandstander', cursive;
	height: 100vh;
	width: 100%;
	background: linear-gradient(90deg, #cbfa55, #55fa55);
	color: #000000f6;
}

header,form
{
	display: flex;
	min-height: 20vh;
	justify-content: center;
	align-items: center;
}
header
{
	flex-direction: column;
}

form
{
	min-height: 15vh;
}

header h2
{
	font-size: 35px;
}

form input, form button
{
	padding: 10px;
	font-size: 18px;
	border: none;
	background: #ffffff;
}

form button
{
	color: #55fa55;
	background: #ffffff;
	cursor: pointer;
	transition: 0.5s all ease;
}

form button:hover 
{
	color: #ffffff;
	background: #55fa55;
}

.todo-container
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.todo-list
{
	min-width: 70%;
	list-style: none;
}

.todo 
{
	display: flex;
	background: #ffffff;
	color: #000000;
	justify-content: space-between;
	align-items: center;
	margin: 10px;
	font-size: 18px;
	min-height: 35px;
	transition: all 0.5s ease;
}

.todo li
{
	flex: 1;
}

.checkbtn, .deletebtn
{
	border: none;
	cursor: pointer;
	font-size: 20px;
	padding: 5px;
	margin-left: 5px;
	background: #f32a2a;
	color: #ffffff;
}

.checkbtn
{
	background: #06aa06;
}

.todo-items
{
	padding: 0px 7px;
}

.fa-trash, .fa-check
{
	pointer-events: none;
}

.completed
{
	text-decoration: line-through;
	opacity: 0.5;
}

.completed
{
	text-decoration: line-through;
	opacity: 0.5;
}

.fall
{
	transform: translateY(50px) rotateZ(30deg);
	opacity: 0;
}

@media only screen and (min-width: 770px) {

	.todo-list
	{
		min-width: 50%;
	}
  }
